*{
  margin: 0px;
  padding: 0px;
  box-sizing:border-box;
  font-family: 'Heebo', sans-serif;
  outline: none;
}

body{
  background-image: linear-gradient(200deg,#ffef12, rgb(230, 0, 69) 30%, #002fff);
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.add-wall{
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(241, 91, 91, 0.534);
  display: none;
  justify-content: center;
  align-items: center;
}

.add-inputs{
  padding-left: 1em;
  display: block;
  width: 100%;
  height: 2em;

  margin-bottom: 2vh;
}

.add-submit {
  font-family: sans-serif;
  background-color: white;
  border: 1px rgb(255, 255, 255) solid;
  border-radius: 4px;
  height: 30px;
  width: 100%;
  font-weight:900;
}

.add-submit:hover {
  transition: ease 0.2s;
  background-color: black;
  color: white;
}

.add-submit:active {
  border: 3px rgb(24, 233, 24) solid;
  transition: ease 0.2s;
}

.add-submit:focus {
  border: 3px rgb(255, 0, 157) solid;
  color: rgb(255, 0, 157);
}

.add-window{

  color: white;
  background-image: linear-gradient(200deg,#ffef12, rgb(230, 0, 69) 30%, #002fff);

  /* box shadow : start */
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  -o-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  /* box shadow : end */

  padding: 2em;
  position: fixed;
  outline: solid black thin;

  display: flex;
  flex-direction: column;

  width: 30vw;
  min-width: 15em;
}

.add-cancle{
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  height: 2em;
  width: 2em;
}

.selection{
  width: 6em;
  display: none;
}

.table-container{
  border: thin white solid;
  /* border-radius: 1em 1em 1em 1em / 1em 1em 1em 1em; */
  width: 90vw;
  height: 80vh;

  background-color: white;

  /* to make the table scrollable : start */
  overflow: auto;
  /* to make the table scrollable : end */
}

table{
  width: 100%;
  font-size: 0.9em;
  
  /* to remove the column gaps in the table */
  border-collapse: collapse;
}

th, td{
  text-align: center;
  height: 2.8em;
  padding: 0.77em 1.2em;
}

td{
  border-bottom: thin solid rgb(207, 207, 207);
}

th{
  font-weight: bold;

  /* fixed table header when scrolled down : start */
  position: sticky;
  top: 0;
  /* fixed table header when scrolled down : end */

  background: rgb(20, 131, 5);
  color: white;
}

/* apply css to every 2 tr child of tbody  */
tbody tr:nth-child(2n){
  background-color: rgb(243, 242, 242);
  font-weight: thin;
}

.navigation{

  /* box shadow : start */
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  /* box shadow : end */

  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vh;

  padding: 2vh;

  border: 1px white solid;
}

.search-bar, .action-btn{
  height: 2.2em;  
}

.search-bar{
  padding-left: 1em;
  width: 30%;
  outline: none;
}

.add-record{
  background-color: transparent;
  background-image: url("../image/lock.svg");
}

.remove-record{
  background-color: transparent;
  background-image: url("../image/trash.svg");
}

.confirm-delete{
  background-image: url("../image/check.svg");
}

.cancle-delete{
  background-image: url("../image/cross.svg");
}

.confirm-delete, .cancle-delete{
  background-color: white;
  background-size: 70%;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.action-btn{
  width: 2.2em;
  height: 2.2em;

  border: 0px;

  background-position: center center;

  transition: 0.2s ease;
}

.action-btn:hover{
  transform: scale(1.2);
}

.add-record:hover{
  background-image: url("../image/unlock.svg");
}

.remove-record:hover{
  background-image: url("../image/trash-open.svg");
}

.btn-set2{
  display: none;
}

@media only screen and (max-width: 540px){

  body{
    display: block;
  }

  .search-bar{
    width: 70%;
  }

  .navigation, .table-container{
    width: 100vw;
    margin: 0px;
    border: 0px none;
  }

  .table-container{
    height: 90vh;
  }



  .add-window{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
  }

  .add-cancle {
    font-family: sans-serif;
    background-color: white;
    border: 1px rgb(255, 255, 255) solid;
    border-radius: 4px;
    height: 30px;
    width: 100%;
    font-weight:900;

    position: static;
  }
  
  .add-cancle:hover {
    transition: ease 0.2s;
    background-color: black;
    color: white;
  }
  
  .add-cancle:active {
    border: 3px rgb(24, 233, 24) solid;
    transition: ease 0.2s;
  }
  
  .add-cancle:focus {
    border: 3px rgb(255, 0, 157) solid;
    color: rgb(255, 0, 157);
  }
}