*{
  margin: 0px;
  padding: 0px;
  box-sizing:border-box;
  font-family: 'Heebo', sans-serif;
  /* outline: red 1px solid; */
}

body{
  background-image: linear-gradient(200deg,#ffef12, rgb(230, 0, 69) 30%, #002fff);
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}


.selection{
  width: 6em;
  /* display: none; */
}

.table-container{
  border: thin white solid;
  /* border-radius: 1em 1em 1em 1em / 1em 1em 1em 1em; */
  width: 90vw;
  height: 80vh;

  background-color: white;

  /* to make the table scrollable : start */
  overflow: auto;
  /* to make the table scrollable : end */
}

table{
  width: 100%;
  font-size: 0.9em;
  
  /* to remove the column gaps in the table */
  border-collapse: collapse;
}

th, td{
  text-align: center;
  height: 2.8em;
  padding: 0.77em 1.2em;
}

td{
  border-bottom: thin solid rgb(207, 207, 207);
}

th{
  font-weight: bold;

  /* fixed table header when scrolled down : start */
  position: sticky;
  top: 0;
  /* fixed table header when scrolled down : end */

  background: rgb(20, 131, 5);
  color: white;
}

/* apply css to every 2 tr child of tbody  */
tbody tr:nth-child(2n){
  background-color: rgb(243, 242, 242);
  font-weight: thin;
}

.navigation{

  background-image: linear-gradient(45deg,rgb(0, 153, 153),rgb(4, 184, 230),rgb(0, 219, 201));

  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vh;

  padding: 2vh;

  border: 1px white solid;
}

.search-bar, .action-btn{
  height: 2em;  
}

.search-bar{
  padding-left: 1em;
  width: 30%;
  outline: none;
}

.action-btn{
  width: 2em;
  height: 2em;
}

@media only screen and (max-width: 540px){

  body{
    display: block;
  }

  .search-bar{
    width: 70%;
  }

  .navigation, .table-container{
    width: 100vw;
    margin: 0px;
    border: 0px none;
  }

  .table-container{
    height: 90vh;
  }
}