name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  ubuntu-build:

    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v2

      - name: Install Dependencies
        run: npm install

      - name: Run Build Test
        run: node app BUILD_TEST

  windows-build:

    runs-on: windows-latest

    steps:

      - uses: actions/checkout@v2

      - name: Install Dependencies
        run: npm install

      - name: Run Build Test
        run: node app BUILD_TEST